* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(218, 218, 218);
}

#grid_wrapper_frontpage{
    display: grid;
    grid-template-columns: minmax(200px, 1fr) 150px;
    grid-template-rows: 100px 700px 1000px 1000px 700px 400px;
    gap: 0px;
    grid-template-areas: 
        "he na"
        "a1 a1"
        "dm dm"
        "dq dq"
        "a2 a2"
        "fo fo";
}

#article_flexbox {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    width: 120px;
}

#frontpage_nav {
    color: rgb(12, 56, 6);
    border-left: rgb(12, 56, 6) 4px solid;
    width: 150px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul {
    list-style: none;
}



#article_nav {
    color: whitesmoke;
    padding: 5px;
    text-decoration: underline white 2px ;
    font-size: xx-large;
    font-family: ChomskyRegular;
    text-shadow: black 2px 2px;
    padding-top: 30px;
}

.nav_article_links {
    color: whitesmoke;
    text-shadow: 2px 2px rgb(15, 56, 2) ;
    font-size: smaller;
    padding: 5px;
    border-top: rgb(15, 56, 2) 4px solid;
    border-radius: 3px;
    background-color: rgba(2, 95, 22, 0.651);
    font-family: 'Times New Roman', Times, serif;
}

.nav_links li a {
    font-size: xx-large;
    font-family: ChomskyRegular;
    color: white;
    text-shadow: black 2px 2px;

}

header {
     grid-area: he;
     position: sticky;
     top: 0px;
     background-image: url(../img/andreas-dress-2Al3_b9GzcI-unsplash.jpg);
     background-position: center;
     background-size: cover;
     background-repeat: no-repeat;
     margin: 0px;
     padding: 0px;
     bottom: 300px;
     z-index: 1;
     border-bottom: 5px solid darkgreen;
     border-right: 2.5px solid darkgreen;
     display: flex;
     justify-content: center;
     align-items: center;
}

header p {
        color: white;
        font-family: ChomskyRegular;
        font-size: xx-large;
        text-shadow: 2px 2px black;
        position: absolute;
        right: 25px;
}



#article_1 {
    grid-area: a1;
}

#article_2 {
    grid-area: a2;
}

.flex_wrapper p {
    margin-bottom: 20px;
}

a {
    text-decoration: none;
    color: rgb(75, 75, 75);
}

a:hover {
    cursor: pointer;
}

.rubrik {
    color: black;
    font-family: impact;
    font-size:xx-large;

}

#logo_header {
    height: 60px;
    width: auto;
}

.smakprov {
    color: darkslategrey;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: large;

}

.skribent_datum {
    position: absolute;
    bottom: 10px;
    right: 10px;
}

#daily_monkey {
    grid-area: dm;
    display: flex;
    gap: 20px;
    padding: 30px;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

#monkey_card {
    background-image: url(../img/giuliano-gabella-3QV_FNhOgeA-unsplash.jpg);
    background-size:cover;
    width: 600px;
    height: 800px;
    border: 4px grey solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

#monkey_card p {
    color: white;
    text-shadow: 2px 2px grey;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.75);
    padding: 15px; 
    border-radius: 15px;
}

#monkey_today {
    font-family: impact;
    font-size:xxx-large;
    top: 40px;
}

#species {
    font-family: impact;
    font-size:xx-large;
    bottom: 230px;
}

#scientific_name{
    font-size:xx-large;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-style: italic;
    bottom: 130px;
}

#learn_more {
    font-size:xx-large;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    color: turquoise;
    bottom: 40px;
    position:absolute;
    text-shadow: 2px 2px grey;
}

.flex_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
    gap: 20px;
    position: relative;
    background-color: whitesmoke;
    border-left:seagreen solid 5px;
    border-top: seagreen solid 5px;
}

.article_box { 
    color: white;
    display: flex;
    width: 90vw;
    margin-bottom: 0px;
    height: 10vh;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: grey;
    border-bottom: 5px solid black;
    border-right: 5px solid black ;
    border-top: 2px solid black;
    border-left: 2px solid black;
    font-size: x-large;
    justify-content: center;
    align-items: center;
    text-shadow: 2px 2px black;
}

.article_link {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}



.article_img {
            width: 90vw;
            height: auto;
            border: 2px rgba(0,0,0,0.5) solid;
            margin-bottom: 20px;
}

nav {
    grid-area: na;
    position: relative;
    display: flex;
    height: 100px;
    justify-content: center;
    align-items: center;
    background-color: darkgreen;
    position: sticky;
    top: 0px;
    z-index: 1;

}

#desktop_ad {
    display: none;
}



.nav_links {
    display: flex;
    flex-direction: column;
    height: 800px;
    position: fixed;
    align-items: center;
    list-style: none;
    top: -800px;
    right: 0px;
    width: 150px;
    background-color: darkgreen;
    transition: all 0.5s;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    z-index: 1;
}

#daily_monkey_nav {
    padding-left: 20px;
    padding-top: 30px;
}

.nav_links li {
            list-style: none;
}

#about_us_nav {
    padding-top: 10px;
    padding-top: 30px;
}

.banana_burger img {
    width: 100px;
    height: 40px;
    margin: -12px;
    transition: all 0.5s;
    background-color: grey;
    background: none;
}


.toggle #banana2 {
    opacity: 0;
}

.toggle #banana1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle #banana3 {
    transform: rotate(45deg) translate(-5px, -6px);
}

.banana_burger {
    cursor: pointer;
    display: flex;
    flex-direction: column;
}

.nav-active {
    transform: translateY(900px);
}


footer {
        grid-area: fo;
        background: black;
        position: static;
        border-top: seagreen 4px solid;
}

#logo_box_header { 
    border-radius: 30px;
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    width: 80px;
    position: absolute;
    left: 10px;
    border: 2px solid seagreen;
}


#logo_box_footer {
    height: 100px;
    width: 100px;
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    position: absolute;
    margin: 20px;
}

#social_media_icons {
    display: flex;
    flex-direction: row;
    color: whitesmoke;
    text-decoration: none;
    font-size: x-large;
    justify-content: space-around;
    width: 300px;
    position: absolute;
    right: 30px;
    padding: 0px;
    gap: 10px;
    margin-top: 70px;
    margin-right: 20px;
}

#social_media_icons a {
    color: whitesmoke;

}

.footer_list {
    font-size: small;
    display: flex;
    justify-content: space-around;
    margin: 30px;
    padding: 20px;
    border-top: 3px solid whitesmoke;
    margin-top: 150px;
    margin-right: 20px;
    margin-left: 20px;
    flex-wrap: wrap;
    gap: 20px;
}

.footer_list li {
    list-style: none;
}


.footer_list li a {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

#follow {
    border-right:  3px solid whitesmoke;
    padding-right: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

#logo_footer {
    height: 75px;
    width: auto;
}

#copyright {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 20px;
    font-size: small;
}


#grid_wrapper_article {
    display: grid;
    grid-template-columns: minmax(200px, 1fr) 150px;
    grid-template-rows: 100px auto 400px;
    gap: 0px;
    grid-template-areas: 
        "he na"
        "at at"
        "fo fo";
}

#main_article {
    grid-area: at;
    display: flex;
    justify-content: center;
}

.canvas {
    width: 100rem;
    background-color: whitesmoke;
    height: 1fr;
    padding: 30px;
    display: flex;
   justify-content: center;
}

.universal_flexwrapper {
    flex-direction: column;
    align-items: center;
    display: flex;
    padding: 20px;
    gap: 40px;
}

#article_description {
    font-size: large;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(75, 75, 75);
    width: 400px;
}

#article_headline {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: xx-large;
    font-style: italic;
    width: 400px;
}

.image_article {
    width: 450px;
    border:seagreen 4px solid;
    border-radius: 10px;
}

.img_info {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: italic;
    padding-left: 20px;
}

#article_author {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 50px;
    margin-right: 50px;
    width: 400px;
}

#article_author h4 {
    color:rgb(75, 75, 75);
    font-style: italic;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

#article_dates {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 30px;
    color:rgb(75, 75, 75);
    font-style: italic;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 400px;
}

#article_author_img {
    background-color: rgb(218, 218, 218);
    width: 100px;
    height: 100px;
    border-radius: 50px;
}

.article_text {
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 40px;
    list-style: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: larger;
}

#paragraph_headline2 {
    font-style: italic;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: x-large;
}

#statement {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

#statement_box {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px rgb(75, 75, 75) solid;
    border-radius: 50px;
    padding: 40px;
}

#statement_text {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: xx-large;
}

#article_biologist {
    width: 150px;
    border: 2px solid seagreen;
    border-radius: 20px;
    margin-bottom: 20px;
}

#paragraph_headline3 {
    font-style: italic;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: x-large;
}

.dividers {
    display: flexbox;
    height: 10px;
    background-color: seagreen;
    width: 450px;
    border-radius: 5px;
    padding: 5px;
}

#grid_wrapper_daily_monkey {
    display: grid;
    grid-template-columns: minmax(200px, 1fr) 150px;
    grid-template-rows: 100px auto 400px;
    gap: 0px;
    grid-template-areas: 
        "he na"
        "pt pt"
        "fo fo";
}

#current_daily_monkey {
    grid-area: pt;
    display: flex; 
    justify-content: center;
}

#daily_monkey_date {
    font-size: xx-large;
    font-style: italic;
    color: rgb(75, 75, 75);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#tarsier {
    font-size: xxx-large;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: italic;
}

#classification {
    background-color: rgb(218, 218, 218);
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 20px;
    border: 5px solid seagreen;
}

#species {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 30px;
}

#terms {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 400;
}

#terms li{
    border-bottom: 3px solid seagreen;
    padding: 5px;
}

#names li{
    border-bottom: 3px solid seagreen;
    padding: 5px;
}

#names {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 400;
}

#img_tarsier {
    width: 350px;
    border-radius: 20px;
}

#biology {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
}

.daily_monkey_headlines {
    font-size: xx-large;
    font-style: italic;
    padding-left: 10px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.daily_monkey_text {
    font-size: medium;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 500px;
    padding-right: 30px;
    padding-left: 30px;
}

.daily_monkey_habitat {
    font-size: small;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 250px;
}

#biology_picture {
    width: 400px;
    border: 4px solid seagreen;
    border-radius: 10px;
}

#habitat {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

#distribution {
    width: 400px;
    border: 4px solid seagreen;
    border-radius: 30px;
}

#habitat_info {
    gap: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#habitat_info p{
    font-size: medium;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-left: 20px;
}

#iniatives {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}


#facts {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 20px;
}



#conservation_status {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

#status_box {
    display: flex;
    gap: 30px;
    align-items: space-around;
    width: 300;
    flex-wrap: wrap;
    justify-content: center;
}

#habitat_box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#conservation_status_current {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 1000;
    font-size: xxx-large;
    background-color: rgb(90, 24, 24);
    border: 7px rgb(10, 10, 10) solid;
    border-radius: 90px;
}

.foundation {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: x-large;
}

#grid_wrapper_about_us {
    display: grid;
    grid-template-columns: minmax(200px, 1fr) 150px;
    grid-template-rows: 100px auto 400px;
    gap: 0px;
    grid-template-areas: 
        "he na"
        "au au"
        "fo fo";
}

#about_us {
    grid-area: au;
    display: flex; 
    justify-content: center;
}

#logo_v2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
    background-color: green;
    border: 10px darkolivegreen solid;
    padding: 10px;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 75px;
    filter: drop-shadow(3px 3px 3px);
}

#logo_about_us {
    width: 100px;
    height: auto;
    background-color: darkgreen;
    padding: 20px;
    padding-left: 23px;
    padding-right: 23px;
    border: olivedrab 5px solid;
    border-radius: 40px;
    filter: drop-shadow(3px 3px 3px);
}

#primate_source {
    color: black;
    font-family: ChomskyRegular;
    font-size: xxx-large;
    text-shadow: 2px 2px white;
    filter: drop-shadow(3px 3px 3px grey);
}

.about_us_box {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 20px;
    justify-content: center;
    align-items: center;
}

.about_us_text {
    font-size: medium;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-right: 30px;
    padding-left: 30px;
}

.capitalize {
    font-size: 70px;
    text-shadow: 2px 2px whitesmoke;
}

#about_us_mission {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px;
}

#mission_img {
    width: 300px;
    border: 5px seagreen solid;
    border-radius: 30px;
}

.about_us_headlines {
    font-size: xx-large;
    font-style: italic;
    padding-left: 10px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#brand_logos {
    display: flex;
    justify-content: space-around;
    align-items: space-around;
    flex-wrap: wrap;
}

#brand_logos li {
    color: black;
    font-size: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px;
}

#brand_logos li p{
    color: black;
    font-size: large;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
}

#contact {
    display: flex;
    flex-direction: row;
    gap: 50px;
}

.contact_box {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100px;
}

.contact_box2 {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 350spx;
}

.contact_info {
    font-size: large;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    border-bottom: 3px solid seagreen;
    padding: 5px;
}

#donate_button {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: seagreen;
    padding: 30px;
    font-size: xx-large;
    filter: brightness(0.8) drop-shadow(3px 3px 3px black);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bolder;
    border: 5px black solid;
    border-radius: 50px;
    justify-content: center;
}

#donate_button p {
    filter:drop-shadow(3px 3px 3px darkslategrey);
}

#filled_bookmark {
    opacity: 0;
    position: absolute;
    left: 25px;
}

#empty_bookmark {
    position: absolute;
    left: 25px;
}

#newsletter_button {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    background-color: lightblue;
    padding: 30px;
    font-size: xx-large;
    filter: brightness(0.8) drop-shadow(3px 3px 3px black);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bolder;
    border: 5px black solid;
    border-radius: 50px;
    width: 400px;
    height: 150px;
}

#newsletter_text {
 position: absolute;
 left: 70px;
}

.toggle #empty_bookmark{
    opacity: 0;
}


.toggle #filled_bookmark{
    opacity: 100;
}


#grid_wrapper_quiz {
    display: grid;
    grid-template-columns: minmax(200px, 1fr) 150px;
    grid-template-rows: 100px auto 400px;
    gap: 0px;
    grid-template-areas: 
        "he na"
        "qu qu"
        "fo fo";
}

#quiz {
    grid-area: qu;
    display: flex;
    justify-content: center;
}

.image_quiz {
    width: 500px;
    height: auto;
    position: absolute;
    border: 5px seagreen solid;
    border-radius: 20px;
}

.image_box {
    width: 500px;
    height: 400px;
    top: 10px;
}

.answer-field {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 40px;
}

.toggle #second_image {
    opacity: 100;
}

.questions {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 20px;
    font-style: italic;
    font-size: xx-large;
    color: black;
}

#canvas_quiz {
    width: 100rem;
    background-color: whitesmoke;
    height: 1fr;
    padding: 30px;
    display: flex;
   justify-content: center;
   position: relative;
}

.answer-btn {
    width: 50vw;
    height: auto;
    padding: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    filter: drop-shadow(5px 5px 5px rgb(75,75,75));
    border: 4px solid white;
    background-color: white;
    border-radius: 30px;
    font-size: 1.5rem;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
}

.answer-btn:hover {
    cursor: pointer;
    filter: brightness(.8);
}

.answered .answer-btn:hover {
    cursor:auto;
    filter: drop-shadow(5px 5px 5px rgb(75,75,75));
}

.answered .false-answer {
    background-color: rgb(189, 75, 75);
    border:rgb(56, 6, 6) 4px solid;
}

.answered .correct-answer {
    background-color: rgb(87, 150, 78);
    border:rgb(12, 56, 6) 4px solid;
}

.final_answers {
    display: flex;
    flex-direction: row;
    gap: 70px;
}

.final_answers .final_answer {
    width: 5vw;
    height: 7vh;
    border: 3px solid black;
    border-radius: 2vw;
    display: flex;
    justify-content: center;
    align-items: center;
    
}



.final_answers.correct-answer .final_answer .answer_line_1{
    background-color: green;
    opacity:100;
}


.final_answers.correct-answer .final_answer .answer_line_2{
    background-color: green;
    opacity: 100;
}


.final_answers.false-answer .final_answer .answer_line_1{
    background-color:  red;
    opacity: 100;
}

.final_answers.false-answer .final_answer .answer_line_2{
    background-color:  red;
    opacity: 100;
}

.answer_line_1 {
    background-color: black;
    transform: rotate(-45deg);
    width: 80px;
    height: 8px;
    position: absolute;
    border-radius: 4px;
    opacity: 0;
}

.answer_line_2 {
    background-color: black;
    transform: rotate(45deg);
    width: 80px;
    height: 8px;
    position: absolute;
    border-radius: 4px;
    opacity: 0;
}

.question_numbers {
    color: gray;
    font-size: 7vh;
}

#score_card {
    background-color: rgb(218, 218, 218);
    padding: 5vw;
    width: 80vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2vh;
    height: 80vh;
    border-radius: 5vw;
    filter: drop-shadow(3px 3px 3px darkgray);
}

#share_results {
    display: flex;
    width: 60vw;
    flex-direction: row;
    height: 10vh;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding: 5px;
    background-color: rgb(20, 139, 20);
    cursor: pointer;
    filter: drop-shadow(3px 3px 3px darkgray);
    border-radius: 5vw;
}

#share_results div{
 font-size: x-large;
 color: rgb(218, 218, 218);
}

#share_results p{
    font-size: x-large;
    color: rgb(218, 218, 218);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bolder;
}
   
#results_headline {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 20px;
    font-style: italic;
    font-size: xx-large;
    color: black;
    border-bottom: 4px solid grey;
    border-radius: 4px;
}

#quiz_headline {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 20px;
    font-style: italic;
    font-size: x-large;
    color: black;
    border-bottom: 4px solid grey;
    border-radius: 4px;
    padding: 15px;
}

#branding {
    height: 5vh;
    width: auto;
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 30px;
    gap: 10px;
    justify-content: center;
    border: 2px solid black;
    padding: 0.2vw;
    border-radius: 10px;
    align-items: center;
    background-color: rgb(15, 56, 2);
    filter: drop-shadow(3px 3px 3px darkgray);
}

#logo_score_card {
    width: auto;
    height: 4vh;
    border: 2px solid black;
    background-color: white;
    padding: 0.2vw;
    border-radius: 10px;
}

#brand_name {
    font-family: ChomskyRegular;
    font-size: 2vh;
    color: white;
    text-shadow: 2px 2px black;
}


@media screen and (min-width: 800px) {

    .banana_burger {
        display: none;
    }

    #grid_wrapper_frontpage {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 100px 1fr 1fr 1fr 1fr 300px;
        grid-template-areas: 
        
        "he na na"
        "a1 a1 dm"
        "a1 a1 dm"
        "a2 a2 dm"
        "a2 a2 dq"
        "fo fo fo"
        
        ;
    }

    #grid_wrapper_article {
        grid-template-columns: 600px 0.4fr 1fr;
        grid-template-rows: 100px auto 300px;
        grid-template-areas: 
        
        "he na na"
        "at at at"
        "fo fo fo"
        
        ;
    }

    
    #grid_wrapper_daily_monkey {
        grid-template-columns: 600px 0.4fr 1fr;
        grid-template-rows: 100px auto 300px;
        grid-template-areas: 
        
        "he na na"
        "pt pt pt"
        "fo fo fo"
        ;
    }

    
    #grid_wrapper_about_us {
        grid-template-columns: 600px 0.4fr 1fr;
        grid-template-rows: 100px auto 300px;
        grid-template-areas: 
    
        "he na na"
        "au au au"
        "fo fo fo"
    
    }

    #grid_wrapper_quiz {
        grid-template-columns: 600px 0.4fr 1fr;
        grid-template-rows: 100px auto 300px;
        grid-template-areas: 
    
        "he na na"
        "qu qu qu"
        "fo fo fo"
    
    }


    .universal_flexwrapper {
        width: 700px;
    }
    
    .flex_wrapper {
        margin: 40px;
        border-radius: 20px;
    }

    .flex_wrapper:hover {
        border-bottom: 5px whitesmoke solid;
        border-right: 5px whitesmoke solid;
        border-top: solid 2px whitesmoke;
        border-left: solid 2px whitesmoke;
        cursor: pointer;
    }
    
    #paragraph_headline2{
        font-size: xx-large;
    }

    #paragraph_headline3{
        font-size: xx-large;
    }

   .canvas {
        margin: 10px;
        border-left: seagreen 10px solid;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;

   }

   #canvas_quiz {
    margin: 10px;
    border-left: seagreen 10px solid;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
   }

   #about_us_mission {
    flex-direction: row;
    }

    #brand_logos {
        width: 1000px;
    }

    #brand_logos li p {
        color: black;
        font-size: 30px;
        padding: 10px;
    }

    #brand_logos li:hover {
        color: black;
        font-size: 120px;
        filter: drop-shadow(2px 2px grey);
        border-right: seagreen 5px solid;
        border-bottom: seagreen 5px solid;
        border-radius: 20px;
        visibility: visible;

    }

    #donate_button {
        font-size: xxx-large;
    }

   #article_description {
    font-size: x-large;
    width: 700px;
    }

    #article_headline {
    font-size: xxx-large;
    width: 600px;
    }

    
    .image_article {
    width: 650px;
    border:seagreen 4px solid;
    border-radius: 10px;
    }

    #article_author {
        margin-right: 200px
    }

    .dividers {
        width: 900px;
    }

    .ad {
        grid-area: dm;
    }
    
    .nav_links {
        flex-direction: row;
        height: 100px;
        right: 0px;
        width: 100%;
        top: 0px;
        transition: all 0s;
        position: absolute;
    }

    .nav-active {
        transform: none;
    }
    
    .article_img {
        width: 700px;
    }

    #desktop_ad {
        display: flex;
    }

    #mobile_ad {
        display: none;
    }
    .article_box {
        width: 700px;
    }

    header p {
        color: white;
        font-family: ChomskyRegular;
        font-size: xxx-large;
        text-shadow: 2px 2px black;
        position: absolute;
        left: 150px;
    }

    #copyright {
        margin-left: 100px;
    }

    .footer_list {
        margin-left: 100px;
        margin-right: 100px;
    }

    
    #social_media_icons {
        font-size: xx-large;
        width: 500px;
        right: 30px;
        padding: 30px;
        gap: 30px;
        margin-top: 20px;
        margin-right: 100px;
    }

    #logo_box_footer {
        height: 120px;
        width: 120px;
        margin-left: 100px;
    }

    #logo_footer {
        height: 100px;
    }

    
    #article_flexbox {
        flex-direction: row;
        height: 100px;
        width: 475px;
        position: absolute;
        padding-top: 0px;
        margin-left: 250px;
    }

    .nav_article_links {
        text-shadow: 1px 1px rgb(15, 56, 2) ;
        font-size: xx-small;
        border-left: rgb(15, 56, 2) 4px solid;
        border-top: none;
        height: 50px;
        border-radius: 3px;
        padding: 13px;
    
    }

    #frontpage_nav {
        border-bottom: rgb(12, 56, 6) 4px solid;
        border-left: none;
        margin-left: 50px;
    }

    #logo_box_header {
        left: 20px;
    }

    #daily_monkey_nav {
        margin-left: 600px;
        margin-top: 0px;
    }

    #about_us_nav {
        margin-left: 50px;
        margin-top: 0px;
    }

    #classification {
        flex-direction: row;
        width: 700px;
    }

    #habitat {
        flex-direction: row;
        gap: 100px;
    }

    .answer-field {
        flex-direction: row;
    }

    .answer-btn {
        width: 20vw;
    }

    #score_card {
        background-color: rgb(218, 218, 218);
        padding: 5vw;
        width: 30vw;
    }

    
    #share_results {
        height: 100rem;
        width: 300px;
        border-radius: 25px;
    }
    
    #branding {
        top: 40px;
    
    }
}