* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


#grid_wrapper {
    display: grid;
    grid-template-columns: minmax(200px, 1fr) 200px;
    grid-template-rows: 100px 800px 100px;
    grid-template-areas: 
        "he na"
        "at at"
        "fo fo";
}

nav {
    grid-area: na;
    position: relative;
    display: flex;
    height: 100px;
    justify-content: flex-end;
    align-items: center;
    background-color: grey;

}

.nav_links {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 800px;
    position: absolute;
    align-items: center;
    list-style: none;
    top: -800px;
    right: 0px;
    width: 200px;
    background-color: grey;
    transition: all 0.5s;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.nav_links li {
            list-style: none;
}

.banana_burger img {
    width: 100px;
    height: 40px;
    margin: -12px;
    transition: all 0.5s;
    background-color: grey;
    background: none;
}


.toggle #banana2 {
    opacity: 0;
}

.toggle #banana1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle #banana3 {
    transform: rotate(45deg) translate(-5px, -6px);
}

.banana_burger {
    cursor: pointer;
    display: flex;
    flex-direction: column;
}

.nav-active {
    transform: translateY(900px);
}

#arrow {
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid red;
}

#article_flex {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 200px;
}
¨
.articles {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 200px;
    position: absolute;
    align-items: center;
    list-style: none;
    top: -800px;
    right: 0px;
    width: 150px;
    background-color: grey;
    transition: all 0.5s;
    color: aqua;
}

@media screen and (min-width: 800px) {

    .banana_burger {
        display: none;
    }

    #grid_wrapper {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 100px 100px 400px 400px 100px;
        grid-template-areas: 
        
        "na na"
        "he he"
        "s1 s2"
        "s3 s4"
        "fo fo"
        
        ;
    }
    
    .nav_links {
        flex-direction: row;
        height: 100px;
        top: 0;
        right: 0px;
        width: 100%;
    }
    
    
}