* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(218, 218, 218);
}

#grid_wrapper_frontpage{
    display: grid;
    grid-template-columns: minmax(200px, 1fr) 150px;
    grid-template-rows: 15vh auto auto auto auto 475px;
    gap: 0px;
    grid-template-areas: 
        "he na"
        "a1 a1"
        "dm dm"
        "dq dq"
        "a2 a2"
        "fo fo";
}

#article_flexbox {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    width: 120px;
    justify-content: center;
}

#page_active {
    border-left: rgb(12, 56, 6) 4px solid;
}

#article_active {
    border-left: rgb(12, 56, 6) 4px solid;
}

#frontpage_nav {
    width: 150px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#frontpage_nav a {
    font-size: xx-large;
    font-family: ChomskyRegular;
    color: white;
    text-shadow: black 2px 2px;
}
#daily_monkey_nav a {
    font-size: xx-large;
    font-family: ChomskyRegular;
    color: white;
    text-shadow: black 2px 2px;
}

#about_us_nav a {
    font-size: xx-large;
    font-family: ChomskyRegular;
    color: white;
    text-shadow: black 2px 2px;
}

ul {
    list-style: none;
}



.article_nav {
    color: whitesmoke;
    padding: 5px;
    font-size: xx-large;
    font-family: ChomskyRegular;
    text-shadow: black 2px 2px;
    padding-top: 30px;
}



.nav_article_links {
    font-size: smaller;
    text-shadow: 2px 2px rgb(15, 56, 2) ;
    padding: 5px;
    border-top: rgb(15, 56, 2) 4px solid;
    border-radius: 3px;
    background-color: rgba(2, 95, 22, 0.651);
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    justify-content: center;
    align-items: center;
    filter: drop-shadow(2px 2px 2px black);
    color: white;
}




header {
     grid-area: he;
     position: fixed;
     background-image: url(../img/eugene-golovesov--_VkKpSNpuk-unsplash.jpg);
     background-position: center;
     background-size: cover;
     z-index: 1;
     border-bottom: 5px solid darkgreen;
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: row;
     height: 15vh;
     top: 0vh;
     right: 150px;
     left: 0px;
     padding: 1vw;
     filter: drop-shadow(0px 2px 2px black);
}

header p {
        color: rgb(129, 41, 41);
        font-family: ChomskyRegular;
        font-size: 8vw;
        text-shadow: 2px 2px rgb(255, 6, 6);
        margin-left: 30px;
}



#article_1 {
    grid-area: a1;
    margin-bottom: 2vh;
    filter: drop-shadow(4px 4px 4px grey);
}

#article_2 {
    grid-area: a2;
    margin-bottom: 2vh;
    filter: drop-shadow(4px 4px 4px grey);
}

.flex_wrapper p {
    margin-bottom: 20px;
}

a {
    text-decoration: none;
    color: rgb(75, 75, 75);
}

a:hover {
    cursor: pointer;
}

.rubrik {
    color: black;
    font-family: impact;
    font-size:xx-large;

}

#logo_header {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    width: auto;
    border-radius: 30px;
    background-color: rgba(245, 245, 245, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    width: auto;
    margin-left: 2vw;
    border: 4px solid rgb(139, 46, 46);
    filter: drop-shadow(0px 2px 2px rgb(250, 250, 250));
    
}

.smakprov {
    color: darkslategrey;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: large;

}

.skribent_datum {
    position: absolute;
    bottom: 10px;
    right: 10px;
}

#daily_monkey {
    grid-area: dm;
    display: flex;
    flex-direction: column;
    align-items: center;
}



#monkey_card {
    background-image: url(../img/giuliano-gabella-3QV_FNhOgeA-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 69vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    background-position: center;
    border: 2vh solid whitesmoke;
    filter: drop-shadow(4px 4px 4px grey);
    margin-bottom: 2vh;
}

#monkey_card p {
    text-shadow: 2px 2px rgb(10, 10, 10);
    position: absolute;
}

#monkey_today {
    font-family: impact;
    font-size:10vw;
    top: 2vh;
    background-color: rgba(0, 0, 0, 0.75);
    padding: 15px; 
    border-radius: 15px;
    color: whitesmoke;
}

#species {
    font-family: impact;
    font-size:7vw;
    bottom: 17vh;
    color: white;
}

#scientific_name{
    font-size: 7vw;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-style: italic;
    bottom: 11vh;
    color: aqua;
}

#learn_more {
    font-size:xx-large;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    color: rgb(218, 218, 218);
    bottom: 4vh;
    position:absolute;
    text-shadow: 2px 2px black;
}

.flex_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
    position: relative;
    background-color: whitesmoke;
    border-left:seagreen solid 5px;
    border-top: seagreen solid 5px;
}

.article_box { 
    color: white;
    display: flex;
    width: 90vw;
    margin-bottom: 0px;
    height: 10vh;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: grey;
    border-bottom: 5px solid black;
    border-right: 5px solid black ;
    border-top: 2px solid black;
    border-left: 2px solid black;
    font-size: x-large;
    justify-content: center;
    align-items: center;
    text-shadow: 2px 2px black;
}

.article_link {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}



.article_img {
            width: 90vw;
            height: auto;
            border: 2px rgba(0,0,0,0.5) solid;
            margin-bottom: 20px;
}

nav {
    grid-area: na;
    position: relative;
    display: flex;
    height: 15vh;
    justify-content: center;
    align-items: center;
    background-color: darkgreen;
    position: sticky;
    top: 0;
    z-index: 1;
    filter: drop-shadow(0px 2px 2px black);
}


.nav_links {
    display: flex;
    flex-direction: column;
    height: 85vh;
    position: fixed;
    align-items: center;
    justify-content: space-around;
    list-style: none;
    top: -85vh;
    right: 0px;
    width: 150px;
    background-color: darkgreen;
    transition: all 0.5s;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    z-index: 1;
}

#daily_monkey_nav {
    padding-left: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav_links li {
            list-style: none;
}

#about_us_nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

.banana_burger img {
    width: auto;
    height: 45px;
    margin: -15px;
    transition: all 0.5s;
    background-color: grey;
    background: none;
}


.toggle #banana2 {
    opacity: 0;
}

.toggle #banana1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle #banana3 {
    transform: rotate(45deg) translate(-5px, -6px);
}

.banana_burger {
    cursor: pointer;
    display: flex;
    flex-direction: column;
}

.nav-active {
    transform: translateY(100vh);
}


footer {
        grid-area: fo;
        background: black;
        position: static;
        border-top: seagreen 4px solid;
}


#footer_flex {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 90vw;
    gap: 6vw;
    height: auto;
}

#social_media_icons {
    display: flex;
    flex-direction: row;
    color: whitesmoke;
    text-decoration: none;
    font-size: 5vw;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    padding: 0px;
    gap: 10px;
    margin-top: 10px;
}

#social_media_icons a {
    color: whitesmoke;

}

.footer_list {
    font-size: small;
    display: flex;
    justify-content: space-around;
    margin: 30px;
    padding: 20px;
    border-top: 3px solid whitesmoke;
    margin-top: 2vh;
    margin-right: 20px;
    margin-left: 20px;
    flex-wrap: wrap;
    gap: 20px;
}

.footer_list li {
    list-style: none;
}


.footer_list li a {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

#follow {
    border-right:  3px solid whitesmoke;
    padding-right: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

#logo_footer {
    height: auto;
    width: 80px;
    padding: 10px;
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;

}

#copyright {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 20px;
    font-size: small;
}


#grid_wrapper_article {
    display: grid;
    grid-template-columns: minmax(200px, 1fr) 150px;
    grid-template-rows: 15vh auto 475px;
    gap: 0px;
    grid-template-areas: 
        "he na"
        "at at"
        "fo fo";
}

#main_article {
    grid-area: at;
    display: flex;
    justify-content: center;
}

.canvas {
    width: 100vw;
    background-color: whitesmoke;
    padding: 30px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    display: flex;
    gap: 40px;
}



#article_description {
    font-size: large;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(75, 75, 75);
    width: 90vw;
}

#article_headline {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 8vw;
    font-style: italic;
    width: 90vw;
}


.image_article {
    width: 90vw;
    border:seagreen 4px solid;
    border-radius: 10px;
}

.img_info {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: italic;
    padding-left: 20px;
    width: 70vw;
    font-size: x-small;
}

#article_author {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 50px;
    width: 90vw;
}

#article_author h4 {
    color:rgb(75, 75, 75);
    font-style: italic;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

#article_dates {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 30px;
    color:rgb(75, 75, 75);
    font-style: italic;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 90vw;
}

#article_author_img {
    background-color: rgb(218, 218, 218);
    width: 100px;
    height: 100px;
    border-radius: 50px;
}

.article_text {
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 40px;
    list-style: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: large;
    width: 90vw;
}

#paragraph_headline2 {
    font-style: italic;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: x-large;
}

#statement {
    display: flex;
    flex-direction: row;
    gap: 30px;
    width: 90vw;
}


#statement div {
    display: flex;
    flex-direction: column;
    width: 20vw;
}

#statement_text {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px rgb(75, 75, 75) solid;
    border-radius: 50px;
    padding: 40px;
}

#article_biologist {
    width: inherit;
    border: 2px solid seagreen;
    border-radius: 20px;
    margin-bottom: 20px;
}

#paragraph_headline3 {
    font-style: italic;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: x-large;
}

.dividers {
    height: 10px;
    background-color: seagreen;
    width: 90vw;
    border-radius: 5px;
    padding: 5px;
}

#grid_wrapper_daily_monkey {
    display: grid;
    grid-template-columns: minmax(200px, 1fr) 150px;
    grid-template-rows: 15vh auto 475px;
    gap: 0px;
    grid-template-areas: 
        "he na"
        "pt pt"
        "fo fo";
}

#current_daily_monkey {
    grid-area: pt;
    display: flex; 
    justify-content: center;
}

#daily_monkey_date {
    font-size: 5vw;
    font-style: italic;
    color: rgb(75, 75, 75);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#tarsier {
    font-size: 10vw;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: italic;
}

#classification {
    width:90vw;
    background-color: rgb(218, 218, 218);
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-radius: 20px;
    border: 5px solid seagreen;
    flex-wrap: wrap;
}

#classes {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 30px;
}

#terms {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 400;
}

#terms li{
    border-bottom: 3px solid seagreen;
    padding: 5px;
}

#names li{
    border-bottom: 3px solid seagreen;
    padding: 5px;
}

#names {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 400;
}

#img_tarsier {
    width: 80vw;
    border-radius: 20px;
}

#biology {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
}

.daily_monkey_headlines {
    font-size: 6vw;
    font-style: italic;
    padding-left: 10px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.daily_monkey_text {
    font-size: medium;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 90vw;
    padding-right: 30px;
    padding-left: 30px;
}

.daily_monkey_habitat {
    font-size: small;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 250px;
}

#biology_picture {
    width: 90vw;
    border: 4px solid seagreen;
    border-radius: 10px;
}

#habitat {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

#distribution {
    width: 90vw;
    border: 4px solid seagreen;
    border-radius: 30px;
}

#habitat_info {
    gap: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#habitat_info p{
    font-size: medium;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-left: 20px;
}

#iniatives {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}


#facts {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 20px;
}



#conservation_status {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

#status_box {
    display: flex;
    gap: 30px;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}

#habitat_box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#conservation_status_current {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 1000;
    font-size: xxx-large;
    background-color: rgb(170, 30, 30);
    border: 7px rgb(10, 10, 10) solid;
    border-radius: 90px;
}

.foundation {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: x-large;
}

#grid_wrapper_about_us {
    display: grid;
    grid-template-columns: minmax(200px, 1fr) 150px;
    grid-template-rows: 15vh auto 475px;
    gap: 0px;
    grid-template-areas: 
        "he na"
        "au au"
        "fo fo";
}

#about_us {
    grid-area: au;
    display: flex; 
    justify-content: center;
}

#logo_v2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10vw;
    background-color: rgb(87, 143, 90);
    border: 10px rgb(46, 73, 6) solid;
    padding: 10px;
    justify-content: space-around;
    border-radius: 75px;
    filter: drop-shadow(3px 3px 3px);
    width: 90vw;
}

#logo_about_us {
    width: 100px;
    height: auto;
    background-color: rgb(86, 161, 71);
    padding: 20px;
    padding-left: 23px;
    padding-right: 23px;
    border: rgb(60, 83, 12) 5px solid;
    border-radius: 60px;
    filter: drop-shadow(3px 3px 3px);
}

#primate_source {
    color: black;
    font-family: ChomskyRegular;
    font-size: 10vw;
    text-shadow: 2px 2px white;
    filter: drop-shadow(3px 3px 3px grey);
}

.about_us_text {
    font-size: medium;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 90vw;
}

#about_us_box {
    gap: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.capitalize {
    font-size: 17vw;
    text-shadow: 2px 2px whitesmoke;
}

#about_us_mission {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px;
    width: 90vw;
}

#mission_img {
    width: 300px;
    border: 5px seagreen solid;
    border-radius: 30px;
}

.about_us_headlines {
    font-size: 6vw;
    font-style: italic;
    padding-left: 10px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#brand_logos {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 90vw;
}

#brand_logos li {
    color: black;
    font-size: 17vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10vw;
}

#brand_logos li p{
    color: black;
    font-size: large;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
}


.contact_box {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 90vw;
}


.contact_info {
    font-size: large;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    border-bottom: 3px solid seagreen;
    padding: 5px;
    display: flex;
    gap:20vw;
}

#donate_button {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: rgb(80, 221, 141);
    padding: 30px;
    font-size: xx-large;
    filter: brightness(0.8) drop-shadow(3px 3px 3px black);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bolder;
    border: 5px black solid;
    border-radius: 50px;
    justify-content: center;
}

#donate_button p {
    filter:drop-shadow(3px 3px 3px darkslategrey);
}

#filled_bookmark {
    opacity: 0;
    position: absolute;
    left: 25px;
}

#empty_bookmark {
    position: absolute;
    left: 25px;
}

#newsletter_button {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    background-color: lightblue;
    padding: 30px;
    font-size: xx-large;
    filter: brightness(0.8) drop-shadow(3px 3px 3px black);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bolder;
    border: 5px black solid;
    border-radius: 50px;
    width: 80vw;
    height: 150px;
}

#newsletter_text {
 position: absolute;
 left: 70px;
}

.toggle #empty_bookmark{
    opacity: 0;
}


.toggle #filled_bookmark{
    opacity: 100;
}


#grid_wrapper_quiz {
    display: grid;
    grid-template-columns: minmax(200px, 1fr) 150px;
    grid-template-rows: 15vh auto 475px;
    gap: 0px;
    grid-template-areas: 
        "he na"
        "qu qu"
        "fo fo";
}

#quiz {
    grid-area: qu;
    display: flex;
    justify-content: center;
}

.image_quiz {
    width: 90vw;
    height: auto;
    border: 5px seagreen solid;
    border-radius: 20px;
}

.answer-field {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 40px;
}

.toggle #second_image {
    opacity: 100;
}

.questions {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 20px;
    font-style: italic;
    font-size: xx-large;
    color: black;
}

#canvas_quiz {
    width: 100vw;
    background-color: whitesmoke;
    height: auto;
    padding: 30px;
    display: flex;
   justify-content: center;
   position: relative;
}

.answer-btn {
    width: 50vw;
    height: auto;
    padding: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    filter: drop-shadow(5px 5px 5px rgb(75,75,75));
    border: 4px solid black;
    background-color: white;
    border-radius: 30px;
    font-size: 1.5rem;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
}

.answer-btn:hover {
    cursor: pointer;
    filter: brightness(.8);
}

.answered .answer-btn:hover {
    cursor:auto;
    filter: drop-shadow(5px 5px 5px rgb(75,75,75));
}

.answered .false-answer {
    background-color: rgb(189, 75, 75);
    border:rgb(56, 6, 6) 4px solid;
}

.answered .correct-answer {
    background-color: rgb(87, 150, 78);
    border:rgb(12, 56, 6) 4px solid;
}

.final_answers {
    display: flex;
    flex-direction: row;
    gap: 70px;
}

.final_answers .final_answer {
    width: 66px;
    height: 66px;
    border: 3px solid black;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}



.final_answers.correct-answer .final_answer .answer_line_1{
    background-color: green;
    opacity:100;
}


.final_answers.correct-answer .final_answer .answer_line_2{
    background-color: green;
    opacity: 100;
}


.final_answers.false-answer .final_answer .answer_line_1{
    background-color:  red;
    opacity: 100;
}

.final_answers.false-answer .final_answer .answer_line_2{
    background-color:  red;
    opacity: 100;
}

.answer_line_1 {
    background-color: black;
    transform: rotate(-45deg);
    width: 80px;
    height: 8px;
    position: absolute;
    border-radius: 4px;
    opacity: 0;
}

.answer_line_2 {
    background-color: black;
    transform: rotate(45deg);
    width: 80px;
    height: 8px;
    position: absolute;
    border-radius: 4px;
    opacity: 0;
}

.question_numbers {
    color: gray;
    font-size: 7vh;
}

#score_card {
    background-color: rgb(218, 218, 218);
    padding: 5vw;
    width: 80vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2vh;
    height: 80vh;
    border-radius: 5vw;
    filter: drop-shadow(3px 3px 3px darkgray);
}

#share_results {
    display: flex;
    width: 60vw;
    flex-direction: row;
    height: 10vh;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding: 5px;
    background-color: rgb(20, 139, 20);
    cursor: pointer;
    filter: drop-shadow(3px 3px 3px darkgray);
    border-radius: 5vw;
}

#share_results div{
 font-size: x-large;
 color: rgb(218, 218, 218);
}

#share_results p{
    font-size: x-large;
    color: rgb(218, 218, 218);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bolder;
}
   
#results_headline {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 20px;
    font-style: italic;
    font-size: xx-large;
    color: black;
    border-bottom: 4px solid grey;
    border-radius: 4px;
}


.quiz_headline {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 20px;
    font-style: italic;
    font-size: x-large;
    color: black;
    border-bottom: 4px solid grey;
    border-radius: 4px;
    padding: 15px;
}

#branding {
    height: 4vh;
    width: auto;
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 1vh;
    gap: 10px;
    justify-content: center;
    border: 2px solid black;
    padding: 0.2vw;
    border-radius: 10px;
    align-items: center;
    background-color: rgb(15, 56, 2);
    filter: drop-shadow(3px 3px 3px darkgray);
}



#logo_score_card {
    width: auto;
    height: 4vh;
    border: 2px solid black;
    background-color: white;
    padding: 0.2vw;
    border-radius: 10px;
}

#brand_name {
    font-family: ChomskyRegular;
    font-size: 2vh;
    color: white;
    text-shadow: 2px 2px black;
}


#daily_quiz {
    display: flex;
    align-items: center;
    flex-direction: column;
    grid-area: dq;
    justify-content: center;
    margin-bottom: 2vh;
    filter: drop-shadow(4px 4px 4px grey);

}

#quiz_card {
    width: 100vw;
    height: 70vh;
    padding-left: 10vw;
    padding-right: 10vw;
    background-color: whitesmoke;
    filter: drop-shadow(3px 3px 3px grey);
    display: flex;
    gap: 5vh;
    align-items: center;
    flex-direction: column;
    border-left: seagreen 2vw solid;
}

#quiz_text {
    font-size: 10vw;
    font-family: ChomskyRegular;
    color: rgb(75, 75, 75);
    text-shadow: 1px 1px white;
}

#link_quiz {
    font-size: 20vw;
    color: seagreen;
    filter: brightness(0.8);
}

@media screen and (min-width: 1200px) {

    .banana_burger {
        display: none;
    }

    #grid_wrapper_frontpage {
        grid-template-columns: 600px 1fr 1fr 1fr;
        grid-template-rows: 100px 450px 450px 400px 400px 350px;
        grid-template-areas: 
        
        "he na na na"
        "a1 a1 dm dm"
        "a1 a1 dm dm"
        "a2 a2 dq dq"
        "a2 a2 dq dq"
        "fo fo fo fo"
        
        ;
    }


    header {
        width: 600px;
        gap: 20px;
        justify-content: flex-start;
        height: 100px;
        
    }

    #grid_wrapper_article {
        grid-template-columns: 600px 0.4fr 1fr;
        grid-template-rows: 100px auto 350px;
        grid-template-areas: 
        
        "he na na"
        "at at at"
        "fo fo fo"
        
        ;
    }

    
    #grid_wrapper_daily_monkey {
        grid-template-columns: 600px 0.4fr 1fr;
        grid-template-rows: 100px auto 350px;
        grid-template-areas: 
        
        "he na na"
        "pt pt pt"
        "fo fo fo"
        ;
    }

    
    #grid_wrapper_about_us {
        grid-template-columns: 600px 0.4fr 1fr;
        grid-template-rows: 100px auto 350px;
        grid-template-areas: 
    
        "he na na"
        "au au au"
        "fo fo fo"
    
    }

    #grid_wrapper_quiz {
        grid-template-columns: 600px 0.4fr 1fr;
        grid-template-rows: 100px auto 350px;
        grid-template-areas: 
    
        "he na na"
        "qu qu qu"
        "fo fo fo"
    
    }


    .universal_flexwrapper {
        width: 700px;
    }
    
    .flex_wrapper {
        margin: 40px;
        border-radius: 20px;
        border: none;
    }

    .flex_wrapper:hover {
        border-left: seagreen solid 5px;
        border-top: seagreen solid 5px;
        border-bottom: none;
        border-right: none;
        cursor: pointer;
    }
    
    #paragraph_headline2{
        font-size: xx-large;
    }

    #paragraph_headline3{
        font-size: xx-large;
    }

   .canvas {
        margin: 40px;
        border-left: seagreen 10px solid;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        width: 90vw;

   }

   #canvas_quiz {
        margin: 10px;
        border-left: seagreen 10px solid;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        width: 90vw;
   }

   #about_us_mission {
        flex-direction: row;
        width: 800px;
    }

    #brand_logos {
        width: 1000px;
    }

    #brand_logos li {
        font-size: 100px;
        margin: 30px;
    }

    #brand_logos li p {
        color: black;
        font-size: 30px;
        padding: 10px;
    }

    #brand_logos li:hover {
        color: black;
        font-size: 120px;
        filter: drop-shadow(2px 2px grey);
        border-right: seagreen 5px solid;
        border-bottom: seagreen 5px solid;
        border-radius: 20px;
        padding: 20px;

    }

    #donate_button {
        font-size: xxx-large;
    }

   #article_description {
    font-size: x-large;
    width: 700px;
    }

    #article_headline {
    font-size: xxx-large;
    width: 600px;
    }

    
    .image_article {
    width: 650px;
    border:seagreen 4px solid;
    border-radius: 10px;
    }

    #article_author {
        width: 400px;
    }

    #article_dates {
        width: 400px;
    }

    .article_text {
        width: 500px;
    }
    .dividers {
        width: 900px;
    }

    #statement {
        width: 500px;
    }
    #statement_text {
        font-size: xx-large;
    }
    .ad {
        grid-area: dm;
    }
    
    .nav_links {
        flex-direction: row;
        height: 100px;
        right: 0px;
        width: inherit;
        left: 600px;
        top: 0px;
        transition: all 0s;
        justify-content: center;
        align-items: center;
        filter: drop-shadow(0px 2px 2px black);
    }

    .nav-active {
        transform: none;
    }
    
    .article_img {
        width: 700px;
    }

    .article_box {
        width: 700px;
    }

    header p {
        font-size: xxx-large;
    }

    #copyright {
        margin-left: 100px;
    }

    .footer_list {
        margin-left: 100px;
        margin-right: 100px;
    }

    
    #social_media_icons {
        font-size: xx-large;
        width: 700px;
        right: 30px;
        padding: 30px;
        gap: 30px;
    }


    
    #article_flexbox {
        flex-direction: row;
        height: 100px;
        width: 475px;
        position: absolute;
        padding-top: 0px;
        margin-left: -120px;
    }

    .nav_article_links {
        text-shadow: 1px 1px rgb(15, 56, 2) ;
        font-size: xx-small;
        border-left: rgb(15, 56, 2) 4px solid;
        border-top: none;
        height: 50px;
        border-radius: 3px;
        padding: 13px;
    
    }

    #page_active {
        border-bottom: rgb(12, 56, 6) 4px solid;
        border-left: none;
    }

    #article_active {
        border-bottom: rgb(12, 56, 6) 4px solid;
        border-left: none
    }

    #daily_monkey_nav {
        margin-left: 600px;
        margin-top: 0px;
    }

    #about_us_nav {
        margin-left: 50px;
        margin-top: 0px;
    }

    #classification {
        width: 800px;
        gap: 20px;
    }

    #img_tarsier {
        width: 400px;
    }

    #habitat {
        flex-direction: row;
        gap: 100px;
    }

    .answer-field {
        flex-direction: row;
    }

    .answer-btn {
        width: 20vw;
    }

    #score_card {
        background-color: rgb(218, 218, 218);
        padding: 5vw;
        width: 30vw;
    }

    nav {
        filter: none;
        height: 100px;
    }
    #share_results {
        height: 100rem;
        width: 300px;
        border-radius: 25px;
    }
    
    #branding {
        top: 40px;
    
    }

    #monkey_card {
        width: 30vw;
        height: 79vh;
        margin-top: 40px;
        border-radius: 20px;
    }

    #monkey_today {
        font-size: xxx-large;
    }

    #species {
        font-size: xx-large;
    }

    #scientific_name {
        font-size: xx-large;
    }


    #quiz_card {
        width: 40vw;
        height: 40vh;
    }

    #quiz_text {
        font-size: xxx-large ;
        width: 400px;
    }

    #link_quiz {
        font-size: xxx-large;
    }

    #footer_flex {
        justify-content: flex-end;
        width: 90vw;
        gap: 50vw;
        align-items: center;
    }

    .img_info {
        width: 400px;
    }
    #daily_monkey_date {
        font-size: xx-large;
    }
    #tarsier {
        font-size: xxx-large;
    }

    #biology_picture {
        width: 400px;
    }

    .daily_monkey_headlines {
        font-size: x-large;
    }
    
    .daily_monkey_text {
        width: 500px;
    }

    #distribution {
        width: 400px;
    }
    #logo_v2 {
        gap: 0px;
        width: 500px;
    }
    
    
    #primate_source {
        font-size: xxx-large;
    }
    
    .about_us_text {
        width: 400px;
    }
    
    .capitalize {
        font-size: 4vw;
    }
    
    
    .about_us_headlines {
        font-size: xx-large;
    }
    
    
    .contact_box {
        width: 400px;
    }
    
    
    .contact_info {
        gap:100px;
    }
    

    
    #newsletter_button {
        width: 400px;
    }
    
    .image_quiz {
        width: 500px;
    }

    #frontpage_nav {
        margin-left: 50px;
    }
}

